@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true
$text: #000000
$accent1: #ED4C5C
$accent2: #D52047

body
    font-family: 'Lato'
    color: $text
    width: 100%
    max-width: 100%
    +rfs(14)
    overflow-x: hidden

h2
    +rfs(36)
    font-weight: 1,700

h3
    +rfs(18px)
    font-weight: 700

input
    border: 1px solid #333333
    box-sizing: border-box
    border-radius: 6px
    padding: 21px 0px 21px 31px


.header
    min-height: 100vh
    background: url('../img/bg.png') center top / cover
    padding-top: 58px


.menu

    &__item
        text-transform: uppercase
        text-decoration: none!important
        color: #ffffff
        margin-right: 20px

        &:nth-child(5)
            margin-right: none


        &:hover
            font-weight: bold
            color: #ffffff


.button__ghost
    width: 100px
    height: 40px
    background-color: transparent
    border: 1px solid #FFFFFF
    border-radius: 6px
    color: #ffffff
    +rfs(14)
    text-transform: uppercase
    margin-left: 20px
    outline: none!important

.offer__title
    color: #ffff
    +rfs(72)
    font-weight: bold
    letter-spacing: 0.05em
    text-transform: uppercase
    margin: 140px 0px 40px 0px

.offer__text
    color: #ffffff
    +rfs(24)
    margin-top: 18px

.button
    border-radius: 6px
    font-weight: 1,700
    width: 160px
    height: 50px
    text-transform: uppercase

    &__offer
        background-color: #ffffff
        color: $accent2
        margin-top: 56px

// Screen2

.overview
    padding-top: 94px

    &__wrapper
        max-width: 445px
        // margin-top: 60px

    &__text
        margin-top: 24px


    &__link
        color: $accent2

.link-wrapper
    margin-top: 10px

.video
    border-radius: 15px

// Screen3

.img__wrapper
    position: relative

.features
    background-color: #FAFAFA
    padding: 63px 0px 124px 0px

    &__item
        margin-bottom: 150px

        &-img

        &-title
            margin-bottom: 20px

        &-text
            +rfs(12)
            margin-bottom: 30px

        &-link
            color: $accent2

    &__block
        background-color: #ffffff
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1)
        border-radius: 8px
        width: 290px
        height: 200px
        padding: 33px 32px 25px 32px
        margin-left: auto
        margin-right: auto
        left: 0
        right: 0
        text-align: center
        position: absolute
        bottom: -100px


.title-wrapper
    margin-bottom: 63px


// Screen4

.technology
    padding: 63px 0px 105px 0px


    &__item
        max-width: 255px

        &-img
            margin-bottom: 5px


        &-title
            margin-bottom: 10px

        &-text


//Screen5

.money
    padding: 95px 0px 95px
    background: $accent1
    color: #ffff


    &__text
        margin-top: 45px




.title__wrapper
    max-width: 445px
    margin-top: 45px


.icon-wrapper
    margin-top: 40px


// Screen6

.contact
    padding: 117px 0px 78px

    &-title-wrapper
        max-width: 445px

    &__title
        margin-bottom: 60px

    &__text
        max-width: 435px

.form
    &__up
        margin-bottom: 24px

    &__name
        width: 47%
        height: 60px

        &-fs
            margin-right: 24px

    &__phone, &__service
        width: 100%
        height: 60px

    &__phone
        margin-bottom: 24px

.button__cta
    background: #ED4C5C
    border: 1.5px solid #ED4C5C
    box-sizing: border-box
    border-radius: 6px
    max-width: 160px
    height: 50px

.button__contact-wrapper
    margin-top: 27px




// Screen7

.footer
    padding: 94px 0px

    &__title
        margin-bottom: 36px

    &__bottom
        margin-top: 94px

.iframe-container
    position: relative
    width: 100%
    padding-bottom: 35%
    height: 0

    & iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

@media screen and (min-width:375px)

@media screen and (min-width:992px)
    .features

        &__item
            margin-bottom: 0px
